# Python
**/__pycache__/

# Vol.2
vol2/exec/cbow_params.pkl
vol2/lib/concerns/ptb.train.npy
vol2/lib/concerns/ptb.train.txt
vol2/lib/concerns/ptb.test.npy
vol2/lib/concerns/ptb.test.txt
vol2/lib/concerns/ptb.vocab.pkl
vol2/lib/concerns/ptb.valid.npy
vol2/lib/concerns/ptb.valid.txt
vol2/pkl/*
